// FONT STACKS
$font-url-google: 'https://fonts.googleapis.com/css?family=Crimson+Text|Homemade+Apple|Shadows+Into+Light" rel="stylesheet';
$font-family--logoPrimary: 'Homemade Apple', cursive;
$font-family--logoSecondary: 'Shadows Into Light', cursive;
$font-family--primary: 'Crimson Text', serif;

// BASE COLORS
$white: #f8f7f7;
$black: #061012;
$grey: rgb(47, 48, 48);
$cigar: rgb(54, 41, 25);
$tan-light: rgb(224, 212, 186);
$orange: rgb(209, 115, 0);

// BREAKPOINTS
$brkpoint-sm: 1px;
$brkpoint-md: 767px;
$brkpoint-lg: 1024px;

// TEXT
$base__font-size : 16px;
$base__line      : 24px;