/* TOP NAV STYLES */

.top-nav {
    @include flex();
    justify-content: space-between;
    background-color: $cigar;
    height: em(60px);
    width: 100%;
    padding-top: em(10px);
}

.logo-section {
    display: table;
}

.logo {
    vertical-align: middle;
    display: table-cell;
    height: em(50px);
    margin-left: em(10px);
}

.logo-text {
    vertical-align: middle;
    display: table-cell;
    font-family: $font-family--logoPrimary;
    font-size: em(18px);
    color: $white;
    text-align: center;
    padding-left: em(10px);
}

.nav-user {
    @include flex();
}

.bell-icon {
   position: relative; 
}

.bell-icon[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    top: em(10px);
    right: em(15px);
    font-size: em(14px);
    background: $tan-light;
    color: $cigar;
    width: em(15px);
    height: em(15px);
    text-align: center;
    line-height: em(16px);
    border-radius: 50%;
}

#bell {
    margin: em(10px);
    display: inline-block;
    height: em(30px);
    fill: $white;
}

.main-user {
    display: table;
    margin: 0 em(10px);
}

.main-user-img {
    vertical-align: middle;
    display: table-cell;
    height: em(50px);
    border-radius: em(50px);
}

.main-user-name {
    vertical-align: middle;
    display: table-cell;
    color: $white;
    text-align: center;
    font-size: em(14px);
    padding-left: em(5px);
}

/* SIDE NAV STYLES */

.side-nav {
    @include flex();
    justify-content: space-between;
    background-color: $tan-light;
    height: em(60px);
    width: auto;
}

.side-nav-icon {
    fill: $cigar;
    height: em(40px);
    padding: em(10px) em(10px);
}

